body {
    background-color: #421d3c;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #a71284;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
} 